.desktop-button, .desktop-button--disabled {
  width: 80%;
  border-radius: 33.5px;
  min-height: 67px;
  box-shadow: 4px 2px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.desktop-button {
  background-color: #FAFAFA;
  cursor: pointer;
}

.desktop-button--disabled {
  background-color: rgba(0, 0, 0, 0.28);
  opacity: .4;
}
