.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-import {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main-icon {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main-welcome {
  font-size: 3rem;
  text-align: center;
  height: 20%;
}

.home-main-disabled {
  height: 20%;
  width: 75%;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Roboto-Medium;
  font-size: 1.7rem;
  color: #D8D8D8;
  letter-spacing: 0;
  text-align: center;
}