.statistics-container {
  width: 100%;
  height: 30%;
  position: relative;
}

.statistics-container svg {
  height: 70%;
}

.statistics-label {
  top: 20%;
  position: absolute;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.theme-label {
  height: 10%;
  padding: 1rem;
  text-align: center;
  font-size:  2rem;
}