.qcm-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.qcm-title {
  position: absolute;
  font-size: 2rem;
  left: calc(5% + 2rem);
  z-index: 2;
  width: 80%;
  transition: height 1.2s,top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  top: calc(1rem + 2%);
  max-height: 17vh;
  overflow-y: scroll;
}

.qcm-container-enter {
  transform: translateX(100%);
  transition: transform 500ms;
}
.qcm-container-enter-active {
  transform: translateX(O);
  transition: transform 500ms;
}
.qcm-container-exit {
  transform: translateX(O);
}
.qcm-container-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms;
}

.qcm-button {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 5%;
  position: absolute;
}

.qcm-checkbox {
  width: 25px;
  height: 25px;
  flex:  0 0 auto;
}
.qcm-radio {
  width: 25px;
  height: 25px;
  flex:  0 0 auto;
}

.qcm-container img {
  display: block;
  max-height:10rem;
  width: auto;
  height: auto;
}
.qcm-container img:active {
  position: fixed;
  display: block;
  max-height:100vh;
  max-width:100vw;
  top: 0rem;
  left: 0rem;
  width: auto;
  height: auto;
}

.qcm-validation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top:  9%;
  right:  25vw;
  left: 28vw;
  position: absolute;
  font-size:  3rem;
  transition: transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}