.desktop-qcm-question-form, .desktop-qcm-question-answer {
  position: absolute;
  width:80%;
  height: 70%;
  background-color: #FAFAFA;
  border-radius: 4rem;
  box-shadow: 4px 2px rgba(0,0,0,.5);
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  transition: transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.desktop-qcm-question-answer {
  top: 10%;
  height: 65%;
  justify-content: space-between;
  bottom: 0;
}

.desktop-qcm-form {
  height: 70%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  bottom: 0;
}

.desktop-qcm-form > div{
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.desktop-qcm-form > div > label{
  padding-left: 1rem;
}

.desktop-qcm-button {
  position: absolute;
  top: 85%;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.desktop-qcm-explaination{
  font-weight: bold;
}
