.desktop-qcm-container {
  width: 75%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.desktop-qcm-title {
  position: absolute;
  font-size: 2rem;
  left: calc(5% + 2rem);
  z-index: 2;
  width: 80%;
  transition: height 1.2s, top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  top: calc(2rem + 5%);
  max-height: 17vh;
  overflow-y: scroll;
}

.desktop-qcm-container-enter {
  transform: translateX(100%);
  transition: transform 500ms;
}
.desktop-qcm-container-enter-active {
  transform: translateX(O);
  transition: transform 500ms;
}
.desktop-qcm-container-exit {
  transform: translateX(O);
  transition: transform 500ms;
}
.desktop-qcm-container-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms;
}

.desktop-qcm-button {
  box-sizing: border-box;
  padding: 0 25%;
  width: 100%;
}
.desktop-qcm-checkbox {
  width: 25px;
  height: 25px;
  flex:  0 0 auto;
}
.desktop-qcm-radio {
  width: 25px;
  height: 25px;
  flex:  0 0 auto;
}

.desktop-qcm-container img {
  display: block;
  max-height:10rem;
  width: auto;
  height: auto;
}
.desktop-qcm-container img:hover {
  position: fixed;
  display: block;
  max-height:70vh;
  max-width:70vh;
  top: 2rem;
  width: auto;
  height: auto;
}

.desktop-qcm-validation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top:  10%;
  right:  25vw;
  left: 28vw;
  position: absolute;
  font-size:  3rem;
  transition: transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}