html, body, #root, .App {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.switch-wrapper {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button-return {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Spinning loader from https://alligator.io/css/css-spinning-loader-animation/ */
.spinning-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgba(29, 161, 242, 0.2);
  border-left-color: rgb(29, 161, 242);
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
  margin: 6rem auto;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}