.desktop-statistics-container {
  width: 100%;
  height: 50%;
  position: relative;
}

.desktop-statistics-container svg {
  height: 70%;
}

.desktop-statistics-label {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.desktop-statistics-button {
  box-sizing: border-box;
  padding: 0 10%;
  width: 100%;
  justify-content : center;
  display:  flex;
}

.desktop-statistics-button .desktop-button {
  font-size:  1.5vw;
}

.desktop-theme-label {
  height: 10%;
  padding: 1rem;
  text-align: center;
  font-size:  1.5vw;
}