.advanced-statistics-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.statistics-question-form {
  height: 85%;
  background-color: #FAFAFA;
  border-radius: 4rem;
  box-shadow: 4px 2px rgba(0,0,0,.5);
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  transition: transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow:  auto;
}

.statistics-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.statistics-form label {
  font-size: 2vw;
}
.statistics-form thead {
  font-weight:  bold;
}
.statistics-form table {
  border-collapse: collapse;
}
.statistics-form tr {
  border-bottom: 1px solid;
}
.statistics-form td {
  padding:  1rem;
}
.statistics-form thead > tr {
  border-bottom: 2px solid;
}
.home-button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.advanced-statistics-buttons {
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.advanced-statistics-buttons .button{
  font-size: 3.5vw;
}