.desktop-home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.desktop-home-left-menu {
  width: 25%;
  height: 100%;
  box-shadow: 2px 0px 4px rgba(0,0,0,0.5);
  box-sizing: border-box;
  position: relative;
  z-index: 99;
  background-color: var(--color-white);
  flex-direction: column;
}

.desktop-home-main {
  width: 75%;
  height: 100%;
}

.desktop-home-import {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-home-main-empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}