.desktop-import-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.desktop-import-container form {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.desktop-import-container form input {
  width: 100%;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  box-shadow: 4px 2px 1px rgba(0,0,0,.5);
  font-size: 2rem;
}
.desktop-import-container form input[type="submit"] {
  width: 50%;
  height: 3rem;
  cursor: pointer;
  background-color: var(--color-white);
}
.desktop-import-container-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
}