.desktop-advanced-statistics-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.desktop-statistics-question-form {
  background-color: #FAFAFA;
  border-radius: 4rem;
  box-shadow: 4px 2px rgba(0,0,0,.5);
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  transition: transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow:  auto;
}

.desktop-statistics-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.desktop-statistics-form label {
  font-size: 2rem;
}
.desktop-statistics-form thead {
  font-weight:  bold;
}
.desktop-statistics-form table {
  border-collapse: collapse;
}
.desktop-statistics-form tr {
  border-bottom: 1px solid;
}
.desktop-statistics-form td {
  padding:  1rem;
}
.desktop-statistics-form thead > tr {
  border-bottom: 2px solid;
}
.desktop-home-button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.desktop-advanced-statistics-buttons {
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 80%;
}